{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"es-es" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>Smart Build</title>
    </head>
    <body>
		<p>Hello Smart Builds</p>
		<form id="searchModule" action="{% url 'module_list' %}" method="GET">
			{% csrf_token %}
			{{module_filter_form}}
			<button type="submit"  id="searchModuleButton" class="btn btn-success">
				<i class="fa fa-save"></i> Buscar
			</button>
		</form>
		{% block content %}{% endblock %}
    </body>
    {% block scripts %}
    {% endblock %}
</html>
